html, body {
    margin: 0;
    padding: 0;
    background-color: #7fc8f8;
}

* {
    font-family: "Lucida Console", Monaco, monospace; 
}

main {
    padding: 3rem;
}

.user {
    background: lightgreen;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 7px;
    width: fit-content;
    padding: .3rem 2rem
}

.user-name {
    margin-left: .35rem;
}

.user-online {
    background: green;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
}