* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #7fc8f8;

}

* {
    font-family: "Lucida Console", Monaco, monospace; 
}

main {
    padding: 3rem;
}

h2 {
    margin: 0;
}

.user {
    background: lightgreen;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    border: 2px solid black;
    border-radius: 7px;
    padding: .3rem 2rem;
    overflow-wrap: break-word;

}

.user-name {
    margin-left: .35rem;
    text-overflow: ellipsis;
}

.user-online {
    background: green;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-flow: wrap;
}

.user-container {
    overflow: auto;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#main-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

main {
    background: darkblue;
    color: #fff
}

#main-container > * {
    width: 50%;
}

header, footer {
    background: palevioletred;
}